<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rMapper">
	<select id="selectRoom" resultType="map">
		select *
		from meetingRoom
	</select>
	<insert id="rinsert" parameterType="Reservation">
		insert into RESERVATION
		values(#{rDate},#{mNo},#{empNo},#{joinEmp},#{mTitle},#{mContnet},default)
	</insert>
	<select id="rSelectDate" parameterType="map" resultType="string">
		select RDATE
		from RESERVATION
		where (RDATE like #{date} and mNo = #{mNo})and RSTATUS='Y'
	</select>
	<select id="selectAllRes" parameterType="string" resultType="Reservation">
		select *
		from RESERVATION JOIN MEETINGROOM USING (MNO)
		where (EMPNO like #{empNo} or JOINEMP like #{empNo})and RSTATUS='Y'
	</select>
	<update id="Rupdate">
		update RESERVATION
		set JOINEMP =#{joinEmp}, RSTATUS=#{rStatus}
		where RDATE=#{rDate} and MNO=#{mNo}
	</update>
</mapper>
