<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.spring.finalproject.Employee.model.vo.Employee" alias="Employee" />
		<typeAlias type="com.spring.finalproject.Board.model.vo.Board" alias="Board" />
		<typeAlias type="com.spring.finalproject.Mail.model.vo.Mail" alias="Mail" />
		<typeAlias type="com.spring.finalproject.Todo.model.vo.Todo" alias="Todo" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/mail-mapper.xml" />
		<mapper resource="mappers/todo-mapper.xml" />
	</mappers>

</configuration>
